
@{
    ViewBag.Title = "Changing The Curve - Women Coders";
}

<h2>Changing The Curve - Women Coders</h2>

<a href="http://datascience.berkeley.edu/women-computing-computer-science">

    <img src="http://datascience.berkeley.edu/wp-content/uploads/Women-In-Computing-IG.jpg"
         width="601"
         height="5595" />
</a>

<p style="text-align: center;">Brought to you by datascience@berkeley: <a href="http://datascience.berkeley.edu" target="_blank">Data Science Graduate Programs</a></p>

