
@{
    ViewBag.Title = "NMC Girl Tech 2016 Fall";
}

<div>
    <div class="row">
        <h2>NMC Girl Tech Day Fall 2016</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4 margin10">
                    <button type="button"
                            class="btn btn-primary buttonLink"
                            formtarget="_blank"
                            onclick="location.href='https://www.youtube.com/watch?v=mFPg96gdPkc'">
                        Code.org - Girls Should Code
                    </button>
                    <button type="button"
                            class="btn btn-primary buttonLink"
                            onclick="location.href='@Url.Action("ChangingTheCurve", "GirlTech16Fall")'">
                        Changing the Curve
                    </button>
                    <button type="button"
                            class="btn btn-primary buttonLink"
                            onclick="location.href='https://www.robomindacademy.com/go/navigator/storylines?course=HourOfCode'">
                        RoboMind.org - Hour of Code
                    </button>
                </div>
                <div class="col-md-4 margin10">
                </div>
                <div class="col-md-4 margin10">
                </div>
            </div>
        </div>
    </div>
</div>

