
@{
    ViewBag.Title = "NMC PD";
}

<div>
    <div class="row">
        <h2>NMC Professional Development Day 2016</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4 margin10">
                    <button type="button"
                            class="btn btn-success"
                            onclick="location.href='@Url.Action("FormsDocs", "NMCPD16")'">
                        Google Docs, Forms and Active Learning<br>Mark DeLonge and John Velis
                    </button>
                </div>
                <div class="col-md-4 margin10">
                    <button type="button"
                            class="btn btn-primary"
                            onclick="location.href='@Url.Action("Portfolios", "NMCPD16")'">
                        Electronic Portfolios<br>Marjory Smith and John Velis
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <br />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Google Forms</h4>
                <h5>Information</h5>
                <a href="https://www.google.com/forms/about/" target="_blank">Information about Google Form</a><br>
                <a href="https://chrome.google.com/webstore/detail/autocrat/ppgnklghfnlijoafjjkpoakpjjpdkgdj?hl=en-US" target="_blank">Google Sheets Add-on: autoCrat</a><br>
            </div>
            <div class="col-md-6">
                <h4>Google Docs</h4>

                <h5>Examples</h5>
                <a href="https://docs.google.com/a/johnvelis.com/spreadsheets/d/1B5Fpwx3A0aBzz4XLWWINIAaiV1MMcWzE5i8GIBIxFiI/edit?usp=sharing" target="_blank">Getting a Consensus</a><br>
                <a href="https://docs.google.com/spreadsheets/d/1H9Saw3GwXEuJ6Oq6RPC_HvSyoxtrqVf-GMN4UZARPPA/edit?usp=sharing" target="_blank">Check and Review</a><br>
                <br>

                <h5>How To Share</h5>
                <a href="https://sites.google.com/a/alpenaschools.com/google-drive/" target="_blank">Google Doc Tutorials</a>
                <p></p>
            </div>
        </div>
    </div>
</div>


