
@{
    ViewBag.Title = "NMC PD";
}

<div>
    <div class="row">
        <h2>NMC Professional Development Day 2016</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4 margin10">
                    <button type="button"
                            class="btn btn-primary"
                            onclick="location.href='@Url.Action("FormsDocs", "NMCPD16")'">
                        Google Docs, Forms and Active Learning<br>Mark DeLonge and John Velis
                    </button>
                </div>
                <div class="col-md-4 margin10">
                    <button type="button"
                            class="btn btn-primary"
                            onclick="location.href='@Url.Action("Portfolios", "NMCPD16")'">
                        Electronic Portfolios<br>Marjory Smith and John Velis
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>


