
@{
    ViewBag.Title = "NMC PD";
}

<div>
    <div class="row">
        <h2>NMC Professional Development Day 2016</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4 margin10">
                    <button type="button"
                            class="btn btn-primary"
                            onclick="location.href='@Url.Action("FormsDocs", "NMCPD16")'">
                        Google Docs, Forms and Active Learning<br>Mark DeLonge and John Velis
                    </button>
                </div>
                <div class="col-md-4 margin10">
                    <button type="button"
                            class="btn btn-success"
                            onclick="location.href='@Url.Action("Portfolios", "NMCPD16")'">
                        Electronic Portfolios<br>Marjory Smith and John Velis
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <br />
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Discussion Topics</h4>
            <a href="https://docs.google.com/document/d/1jS9XQDlhAnImXOC04t5gPUglfyqkdnl3jQTILC2_hYw/edit#" target="_blank">Electronic Portfolio Round Table Notes</a><br>
            <p></p>
        </div>
        <div class="col-md-6">
            <h5>Examples</h5>
            <a href="https://docs.google.com/a/nmc.edu/forms/d/e/1FAIpQLSfrolkGUTtGGttlovN0Fbowlts7mmBmaHVUvgD1qgPNg9IWlQ/viewform?c=0&w=1" target="_blank">October PD Day Survey</a><br>
            <a href="https://docs.google.com/a/nmc.edu/forms/d/e/1FAIpQLScDiHQj29dx43pAXAuRns5DeSR8TKRytnvqcS128gg0TuvQGQ/viewform?c=0&w=1" target="_blank">Multiple Choice Question Collection</a><br>
            <p></p>
        </div>
    </div>
</div>


