
@{
    ViewBag.Title = "Tech Exploration Day 2016";
}

<div>
    <div class="row">
        <h2>Tech Exploration Day 2016</h2>
        <div class="container">
            <div class="row">
                <h4>Easy - Block Coding (Grades 2-8)</h4>
                <div class="col-md-3 col-sm-6 imageLink">
                    <a href="https://studio.code.org/s/starwarsblocks/stage/1/puzzle/1"target="_blank">
                        <img src="~/Content/TechExplorationDay/CodeOrgStarWars.JPG" width="200"/>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 imageLink">
                    <a href="https://www.tynker.com/lesson/host?c=setup" target="_blank">
                        <img src="~/Content/TechExplorationDay/CodeOrgDragonDash.JPG" width="200" />
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 imageLink">
                    <a href="https://studio.code.org/s/frozen/stage/1/puzzle/1" target="_blank">
                        <img src="~/Content/TechExplorationDay/CodeOrgFrozen.JPG" width="200" />
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 imageLink">
                    <a href="https://studio.code.org/s/mc/stage/1/puzzle/1" target="_blank">
                        <img src="~/Content/TechExplorationDay/CodeOrgMineCraft.JPG" width="200" />
                    </a>
                </div>
            </div>
            <div class="row">
                <h4>Intermediate - HTML/CSS Coding (Grades 6+)</h4>
                <div class="col-md-3 imageLink">
                    <a href="https://www.codeavengers.com/html-css/101#1.1" target="_blank">
                        <img src="~/Content/TechExplorationDay/CodeOrgDigitalPostcard.JPG" width="200" />
                    </a>
                </div>
            </div>
            <div class="row">
                <h4>Difficult - iPhone Swift Coding (Grades 6+)</h4>
                <div class="col-md-3 imageLink">
                    <a href="https://www.makeschool.com/build-an-iphone-game-in-your-browser" target="_blank">
                        <img src="~/Content/TechExplorationDay/CodeOrgiPhoneGame.JPG" width="200" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>